<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="home">Angular App</a>
  <ul class="nav navbar-nav navbar-right" style="margin:2px">
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['home']">Home</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['about']">About</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['services']">Services</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['contact']">Contact</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['posts']">Posts</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['comments']">Comments</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['albums']">Albums</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['photos']">Photos</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['todos']">ToDos</a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['users']">Users</a>
    </li>
  </ul>
</nav>
